<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
 body {
       background: linear-gradient(90deg, #fefea2,#1299ff);
    }
    h1,h2 {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #container {
        display:flex;
        flex-direction: row;
        background-color: rgb(12,27,255,0.5);
        border:2px solid black;
    }
    #container2 {
        display:flex;
        flex-direction: row;
        background-color: rgb(12,27,255,0.5);
        border:2px solid black;

    }

    </style>
</head>
<body>
    <h1>Our main API homepage</h1>
    <h2>Written by Mike, Isabel & Immanuel</h2>
    <div id="container">
        <div>
        <form action="/city" method="post">
        <label for="cars"><h1>Choose a city to find parks</h1></label>
        <select name="cities" id="cities">
        <option value="Coventry">Coventry</option>
        <option value="London">London</option>
        <option value="Birmingham">Birmingham</option>
        <option value="Manchester">Manchester</option>
        </select>
        <br><br>
        <input type="submit" value="Find">
        </form>
        </div>
    </div>
    <div id="container2">
        <div><form action="/parks/create" method="post">
            <label for="cars"><h1>Add a park to a city</h1></label>
            <label for="city">Choose city
                <select name="city" id="cities2">
                    <option value="Coventry">Coventry</option>
                    <option value="London">London</option>
                    <option value="Birmingham">Birmingham</option>
                    <option value="Manchester">Manchester</option>
                    </select>
            </label>
            <label for="name">Type in park</label>
            <input name="name" type="text">
            <input type="submit" value="Add park">
            </form>
        </div>

    </div>

    <div id="bottom">
        <h1>Your parks data</h1>
        <ol>
        <% cities.forEach((item) => { %>
        <li><%= item.name %></li>
        <% }) %>
        </ol>

    </div>
</body>
</html>
