<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
 body {
       background: linear-gradient(90deg, #fefea2,#1299ff);
    }
    h1,h2 {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #container {
        display:flex;
        flex-direction: row;
        background-color: rgb(12,27,255,0.5);
        border:2px solid black;
    }
    ol {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    </style>
</head>
<body>
    <h1>Our list of cities and parks</h1>
    <h2>Written by Mike, Isabel & Immanuel</h2>
<ol>
<h1> List of parks in <%= cities[0].city %></h1>
<% cities.forEach((item) => { %>
<li><%= item.name %></li>
<% }) %>
</ol>

</body>
</html>



